*~
*.kra
assets/minecraft/textures/environment/moon.png
assets/minecraft/textures/environment/moon_phases.png
assets/minecraft/textures/environment/moon_phases.png
assets/minecraft/textures/environment/moon.png
assets/minecraft/textures/environment/sun.png
assets/minecraft/textures/environment/sun.png
assets/minecraft/textures/environment/moon_phases.png
assets/minecraft/textures/environment/moon.png
